<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="form_text_block">   
                
                <input type="file" name="file" id="fileinput" onchange="previewFile()" accept=".pdf">
                <button id="getfile" class="btn">Click</button>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo deserunt ut explicabo in fuga obcaecati, architecto, quibusdam alias harum non quis minus laudantium, modi dicta. Delectus quia veritatis voluptatum distinctio!</p>
            </div>
        </div>
    </div>

    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>