<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="form_text_block">   
                <form enctype="multipart/form-data" method="post" action="" id="fileinput">
                    {{ form }}
                    {% comment %} <input type="file" onchange="previewFile()" name="file" id="fileinput" accept=".pdf"> {% endcomment %}
                    <button id="getfile" class="btn">Click</button>
                    {% comment %} <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo deserunt ut explicabo in fuga obcaecati, architecto, quibusdam alias harum non quis minus laudantium, modi dicta. Delectus quia veritatis voluptatum distinctio!</p> {% endcomment %}
                </form>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>